[Desktop Entry]
Name=Arch Gen
Comment=Architecture Decision Randomizer
Exec=arch-gen
Icon=arch-gen
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=architecture;randomizer;refactor;management;
