[Desktop Entry]
Name=Arch Gen
Comment=Architecture Decision Randomizer
Exec=__EXEC_PATH__
Icon=arch-gen
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=architecture;randomizer;refactor;management;
StartupWMClass=rs.torch.arch-gen
